  <!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>

<body>
  <ul>
    <% for (const el in urls) { %>
    <% const site = "urls/" + el%>
    <li><%= el %> - <a href = <%= urls[el] %>><%= urls[el] %></a> <a href=<%=site%>>Edit</a>
      <% const del = site + "/delete"%>
      <form method="POST" action=<%=del%>>
        <button type="delete" value="Delete">Delete</button>
      </form>
    </li>
    <% }; %>
  </ul>

</body>
</html>