  <!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>

<body>
<% if (user) {%>
  <% if (urls[shortURL]['userID'] === user['id']) { %>
    <p><%= shortURL %> - <a href = <%= urls[shortURL]['url'] %>><%= urls[shortURL]['url'] %></a></p>
    <p>Visits: <%= urls[shortURL]['visits']%></p>
    <form method="POST" action="/urls/<%=shortURL%>?_method=PUT" style="margin:150px;">
      <label for="longURL">Update URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <button type="submit" value="Submit">Submit</button>
    </form>
    <%} else {%>
      <p>Please login to view this shortURL!</p>
    <%}%>
  <%} else {%>
    <p>Please login or register!</p>
  <%}%>
</body>
</html>