  <!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>

<body>
  <ul>
    <% if (user) {%>
      <!-- Filter urls for userID -->
      <p><a href="urls/new">Create a New Short Link</a></p>
      <% for (const el in urls) { %>
        <% if (urls[el]['userID'] === user['id']) { %>
          <li><%= el %> - <a href = <%= urls[el]['url'] %>><%= urls[el]['url'] %></a> <a href="urls/<%=el%>">Edit</a>
            <form method="POST" action="urls/<%=el%>/delete?_method=DELETE">
              <button type="delete" value="Delete">Delete</button>
            </form>
          </li>
          <% } %>
        <% } %>
    <% } else { %>
      <p>Please login or register!</p>
    <% }; %>
  </ul>
</body>
</html>